<app-before-login-header></app-before-login-header>
<h1>
  Please sign up
</h1>
<div class="signupdiv">
  <form>
    <p>
      <label>Enter valid email address</label>
      &nbsp;<input type="email" name="username" [(ngModel)]="model.email">
    </p>
    <p>
      <label>Enter password</label>
      &nbsp;<input type="password" name="password" [(ngModel)]="model.password">
    </p>
    <p>
        <label>Confirm password</label>
        &nbsp;<input type="password" name="confirmpassword" [(ngModel)]="model.confirmPassword">
      </p>
    <p>
      <button (click)="checkAndSignup()">Click to signup</button>
    </p>
  </form>
  <p>To go to login page click <a routerLink="/login">LOG IN</a></p>
</div>
<app-before-login-footer></app-before-login-footer>